html{
    font-family: 'Lobster';
    font-size: 30px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#menu{
    display: flex;
    justify-content: space-around;
    background-color: beige;
    align-content: center;
}

#bar-menu{
    display: flex;
    justify-content: space-between;
    
}

#menu button {
    text-decoration:none;
    color: black;
    font-size: 1em;
    display: flex;
    align-self: center;
    padding: 1% 2% 1% 2%;
    
}

#menu button:hover{
    background-color: white;
    color: black;
    
}
p{
    display: flex;
    justify-content: center;
    padding-right: 1em;
    align-self: center;
}